------------------
```markdown
# Copyright © 2024 Meysam Goodarzi
This notebook is licensed under CC BY-NC 4.0 with the following amandments:
- Individuals may use, share, and adapt this material for non-commercial purposes with attribution.
- Institutions/Companies must obtain written consent to use this material, except for nonprofits.
- Commercial use is prohibited without permission.  
Contact: analytica@meysam-goodarzi.com
```
------------------------------
❗❗❗ **IMPORTANT**❗❗❗ **Create a copy of this notebook**

In order to work with this Google Colab you need to create a copy of it. Please **DO NOT** provide your answers here. Instead, work on the copy version. To make a copy:

**Click on: File -> save a copy in drive**

Have you successfully created the copy? if yes, there must be a new tab opened in your browser. Now move to the copy and start from there!

----------------------------------------------

# Introduction to Computing

## Logical and Comparison Operators
Logical operations in Python are used to compare values and determine the relationship between them. They return Boolean values, `True` or `False`. Similarly, comparison operators are used to compare two values. They also return a Boolean value, `True` or `False`. Let us delve more into these operators.

### Logical Operators
+ `and`: Returns True if both operands are True.
+ `or`: Returns True if at least one operand is True.
+ `not`: Reverses the Boolean value of the operand.

In [2]:
a = True
b = False

# Logical AND
print("a AND b:", a and b)  # Both must be True

# Logical OR
print("a OR b:", a or b)  # At least one must be True

# Logical NOT
print("NOT a:", not a)  # Reverses the value of a

a AND b: False
a OR b: True
NOT a: False

### Comparison Operators
1. **Equal to** `==`: Checks if the values of two operands are equal.
2. **Not equal to** `!=`: Checks if the values of two operands are not equal.
3. **Greater than** `>`: Checks if the value of the left operand is greater than the value of the right operand.
4. **Less than** `<`: Checks if the value of the left operand is less than the value of the right operand.
5. **Greater than or equal to** `>=`: Checks if the value of the left operand is greater than or equal to the value of the right operand.
6. **Less than or equal to** `<=`: Checks if the value of the left operand is less than or equal to the value of the right operand.

In [3]:
# Comparison operators
x = 10
y = 5

print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

x == y: False
x != y: True
x > y: True
x < y: False
x >= y: True
x <= y: False

There are two more operators which are equally important:

7. `is` Operator: `is` keyword is used to test if two variables refer to the same object. The test returns `True` if the two objects are the same object. The test returns False if they are not the same object, even if the two objects are 100% equal.
8. `in` operator: `in` keyword is used to check if a value exists in a sequence like a list, tuple, or string

We will cover them later.

### Combining Logical and Comparison Operators
Logical and comparison operators can be combined to create complex conditions.

#### Example
Consider a case where the entry to a place requires the person to be an adult and have the official permission. How would we implement that logic?

In [4]:
# Combining logical and comparison operators
age = 20
is_adult = (age >= 18)
has_permission = True

can_enter = is_adult and has_permission
print("Can enter:", can_enter)

Can enter: True

### Precedence

The precedence (or order of operations) determines the order in which these operations are performed. Understanding this precedence is important to ensure that expressions are evaluated as intended. Generally, comparison operators have higher precedence than logical operators. This means that comparisons are evaluated before logical operations. The precedence of logical operators is as follows: `not` has the highest precedence, followed by `and`, and then `or` has the lowest precedence.

**IMPORTANT remark**: **ALWAYS** use paranthesis to determine the precedence manually and avoid confusion.

**Question**: Consider the expression `a > b or a < c and c > b`. What would be the sequence of actions conducted by Python?

<!--
# Copyright © 2024 Meysam Goodarzi
This notebook is licensed under CC BY-NC 4.0 with the following amandments:
- Individuals may use, share, and adapt this material for non-commercial purposes with attribution.
- Institutions/Companies must obtain written consent to use this material, except for nonprofits.
- Commercial use is prohibited without permission.  
Contact: analytica@meysam-goodarzi.com.
-->

### Exercise 1
Let's consider a scenario where we're evaluating conditions for an online discount based on multiple factors, i.e.,
+ Membership status,
+ The amount of spent money
+ Whether it's a holiday

write a line of code to implement the results for *eligibility*. To be eligible, **at least one of the following conditions** must be met:
1. being a member and have spent more than 100€
2. not a holiday time and have spent more than 200 €

**Hint**:

Table 1:

is member | amount_spent > 100 | is_member \& amount_spent > 100
 :- | -: | :-:
  True | True | True
  True | False | False
  False | True | False
  False | False | False

Table 2:

is holiday | amount_spent > 200 | not is_holiday \& amount_spent > 200
:-: | :-: | :-:
True | True | False
True | False | False
False | True | True
False| False| False

Table 3:

is_member \& amount_spent > 100 | not is_holiday \& amount_spent > 200 | eligibility
:-: |  :-: | :-:
True |  False | True
False |  False | False
False |  True | True
False |  False | False

In [9]:
is_member = False
amount_spent = 150
is_holiday = False

eligibility = (is_member and amount_spent > 100) or (is_holiday == False and amount_spent > 200)
print("Eligibility of the person:", eligibility)

Eligibility of the person: False

## Variables and Datatypes
This section is dedicated to the introduction to variables and datatypes in python. In what follows, you will learn what variables and datatypes are, why are they important, and what are their various functionalities.

### Variables
The first natural question that comes to one's mind is: *what are variables?*
Variables are containers for storing data values. Python is dynamically typed, meaning you don't need to declare a type for a variable, i.e., **the type is inferred from the value you assign**. But what is a datatype? be patients, we will see in a minute.

#### Example
Let us define three different variables as follows.

In [10]:
# Variable assignment
my_variable_1 = 10
my_variable_2 = "Hello, World!"
my_variable_3 = 3.14

print(my_variable_1)
print(my_variable_2)
print(my_variable_3)

10
Hello, World!
3.14

Do you understand the above-written lines? What was done there? why the variables are named as you see in the code?

### Rules for Naming Variables
There are certain rules that must be followed when naming the variables. They are:

* Variable names must start with a letter or the underscore character.
* Variable names cannot start with a number.
* Variable names are case-sensitive (e.g., age, Age, and AGE are different variables).
* Variable names should not be Python reserved keywords (like if, else, for, etc.).

**Question**: Which one of the following variable assignments are incorrect?
```python
my_var = 5
_my_var = 10
2my_var = 5
myVar = 15
try = 20
my-var = 10
```

### Data Types
In Python (and in all programming languages) it's very important to keep in mind what data types you're using. Python has several built-in data types that are used to represent different kinds of data. The most common ones are:
+ Integers (`int`)
+ Floating-point numbers (`float`)
+ Strings (`str`)
+ Booleans (`bool`)
+ Lists (`list`)
+ Dictionaries (`dict`)
+ Tuples (`tuple`)
+ Sets (`set`)

In what follows, we conceptually cover some of the above mentioned datatypes.

#### Integer

Integers are whole numbers without a decimal point. They can be generally positive or negative and there no limit on length. Python allows you to perform all basic arithmetic operations with integers

In [ ]:
# Integer operations
x = 10
y = 3

addition = x + y
subtraction = x - y
multiplication = x * y

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)

**Question**: What is the result of a division $\frac{x}{y}$ if both $x$ and $y$ are integers? Try it out below.

In [11]:
1/3

0.3333333333333333

**Question**: How can we force the result of above code to be an integer?

In [12]:
int(1/3)

0

#### Float
Floats represent numbers with a decimal point. Python automatically converts integers to floats when you mix them in operations. Similar to integers arithmetic operations with floats are supported in Python.

Let us explore some of the properties of the `float` datatype.

In [13]:
a = 3.14
print(a)
print(type(a))

3.14
<class 'float'>

  - can be used for very small numbers

In [14]:
a = 0.0000000000000000000000000000000045
print(a)

4.5e-33


  - can be used for scientific notation (2.5e2)

In [15]:
a = 2.5e2
print(a)

250.0

  - if we create a big number like "2.5e256" "print" function will print it in scientific notation

In [16]:
a = 2.5e256
print(a)

2.5e+256

 - can be used for arithmatic with ints or resulting from ints (e.g. `1 / 3`)

In [19]:
a = 1 / 3
print(a)
a.hex()

0.3333333333333333

'0x1.5555555555555p-2'

- dividing will **always** result in a float value

In [20]:
a = 4/1
print(a)
print(type(a))

4.0
<class 'float'>

  - floats are inherently inaccurate (never mind the complex syntax, just look what happens when we expand a simple float value to 30 decimal places) 🙀

In [21]:
my_float_number = 1.2
print(f"{my_float_number:.30f}")

1.199999999999999955591079014994

That is why we avoid using float for certain sensitive scenarios.

**BUT** for most math, floats are "good enough".

We already saw addition and division but here's a couple of other operators:

In [23]:
# multiplication
a = 1.5
b = 10
multiply = a*b
print(multiply)
print(type(multiply))

# remainder
a = 10
b = 3
remainder = 10 % 3
print(remainder)
print(type(remainder))

# exponents (power of)
a = 3
b = 4
exponent = 3 ** 4
print(exponent)
print(type(exponent))

15.0
<class 'float'>
1
<class 'int'>
81
<class 'int'>

#### String
Strings are sequences of characters enclosed in quotes (' or ").
You can perform various operations and methods on strings, such as concatenation, slicing, and formatting. Here are some examples:

In [24]:
print("I'm a string")
print('I could also be considered a "string"')
print('I\'m also a string.')

I'm a string
I could also be considered a "string"
I'm also a string.

Note that the last string above uses the `\` character to allow a single quote symbol to exist within a string enclosed by single-quotes. The `\` is also known as an "escape character". Let us explore strings in the follwoing:

- strings **can't** perform all arithmatics, however some of them works on strings

Here are some of the arithemtics used with strings:

- the '+' symbol concatenates (joins) strings together

In [25]:
# Strings
greeting = "Hello"
name = "Alice"

# String concatenation
full_greeting = greeting + ", " + name + "!"
print(full_greeting)

Hello, Alice!

+ The **multiplication** operator **repeats** strings:

In [26]:
print('spam ' * 5)

spam spam spam spam spam

**BUT** not all operators work with strings. Consider the following example

In [27]:
# print('spam' / 'eggs')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

**Question**: Is there any way to access one/multiple characters of a string? Try it out below.

In [30]:
# Indexing and Slicing
language = "Python"

first_char = language[0]
last_char = language[-1]
substring = language[1:3]

print("First character:", first_char)
print("Last character:", last_char)
print("Substring:", substring)

First character: P
Last character: n
Substring: yt

Python provides many built-in methods to work with strings, such as `upper()`, `lower()`, `replace()`, etc. More of such methods will be discussed later.

In [31]:
# String methods
text = "Hello, Python!"

upper_text = text.upper()
lower_text = text.lower()
replaced_text = text.replace("Python", "World")

print("Uppercase:", upper_text)
print("Lowercase:", lower_text)
print("Replaced text:", replaced_text)

Uppercase: HELLO, PYTHON!
Lowercase: hello, python!
Replaced text: Hello, World!

#### Boolean
Booleans represent one of two values: `True` or `False`. They are often used in *conditional statements* and *logical operations*. Some of the properties of the booleans are as follows.

+ Booleans can be combined using logical operators: `and`, `or`, `not`.

In [32]:
# Logical operations
a = True
b = False

AND = a and b
OR = a or b
NOT = not a
print("AND operation:", AND)
print("OR operation:", OR)
print("NOT operation:", NOT)

AND operation: False
OR operation: True
NOT operation: False

##### Exercise 2

Explore the result of `XOR` and `XNOR` operations with different values of `a` and `b`.

In [36]:
a = True
b = False

XOR = a ^ b  # Returns True when two are different
XNOR = not (a ^ b)  # Returns False when two are same

print(XOR, XNOR)

True False

#### Converting between types
Another natural question that comes up here is whether we can convert different datatype into each other, e.g., integer to float, or string to integer, etc. Let us discover the answer by experimenting different combinations.

**Remember** to take a moment to think about what each block of code will print **before** you run it.

**Hint**: The commands `int()`, `float()`, and `str()` are normally deployed to conduct the conversions.

In [37]:
my_string = "42"
my_float = 3.14
my_int = 10
my_bool_1 = True
my_bool_2 = False

# Convert to integer
print('from string:      ', int(my_string))
print('from float:       ', int(my_float))
print('from int:         ', int(my_int))
print('from boolean True:', int(my_bool_1))
print('from boolean False', int(my_bool_2))

from string:       42
from float:        3
from int:          10
from boolean True: 1
from boolean False 0

In [38]:
# what will happen if we do this?
print(int('spam'))

ValueError: invalid literal for int() with base 10: 'spam'

In [39]:
my_string_1 = "42"
my_string_2 = "42.5"
my_int = 10
my_bool_1 = True
my_bool_2 = False

# Convert to float
print('from string:                   ', float(my_string_1))
print('from string with decimal point:', float(my_string_2))
print('from int:                      ', float(my_int))
print('from boolean True:             ', float(my_bool_1))
print('from boolean False:            ', float(my_bool_2))

from string:                    42.0
from string with decimal point: 42.5
from int:                       10.0
from boolean True:              1.0
from boolean False:             0.0

In [40]:
my_string = "42"
my_float = 3.14
my_int = 112233445566778899
my_bool_1 = True
my_bool_2 = False

# Convert to string
print('from int:          ', str(my_int))
print('from float:        ', str(my_float))
print('from boolean True: ', str(my_bool_1))
print('from boolean False:', str(my_bool_2))

from int:           112233445566778899
from float:         3.14
from boolean True:  True
from boolean False: False

In [41]:
# what will these print?
print(int('1') + 1)
print(str(1) + '1')

2
11

In [42]:
# what about this?
print('1' + 1)

TypeError: can only concatenate str (not "int") to str

In [43]:
my_string_1 = ""
my_string_2 = "0"
my_string_3 = "spam"
my_int_1 = 0
my_int_2 = 10
my_float_1 = 0.0
my_float_2 = 0.0005

# Convert to bool
print('from empty string:              ', bool(my_string_1))
print('from non-empty int string:      ', bool(my_string_2))
print('from word string:               ', bool(my_string_3))
print('from int 0:                     ', bool(my_int_1))
print('from int with any other value:  ', bool(my_int_2))
print('from float 0.0:                 ', bool(my_float_1))
print('from float with any other value:', bool(my_float_2))

from empty string:               False
from non-empty int string:       True
from word string:                True
from int 0:                      False
from int with any other value:   True
from float 0.0:                  False
from float with any other value: True

**Congratulations! You have finished the Notebook! Great Job!**
🤗🙌👍👏💪
<!--
# Copyright © 2024 Meysam Goodarzi
This notebook is licensed under CC BY-NC 4.0 with the following amandments:
- Individuals may use, share, and adapt this material for non-commercial purposes with attribution.
- Institutions/Companies must obtain written consent to use this material, except for nonprofits.
- Commercial use is prohibited without permission.  
Contact: analytica@meysam-goodarzi.com.
-->